.header {
  margin: 0px;
  padding: 10px 20px;
  min-height: 15vh;
  background:  rgba(70, 124, 27, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(min-width: 768px) {
    padding: 15px 30px;
  }
}

.title {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 30px;
  width: max-content;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  color: #e4e4e4;
  padding-bottom: 5px;
  border-bottom: 2px solid #e4e4e4;

  @media(min-width: 768px) {
    height: 50px;
    font-size: 36px;
    font-weight: 500;
    }
}

.title__iconwrapper{
  width: 30px;

  @media(min-width: 768px) {
    width: 50px;
  }

}

.title__icon{
  height: 45px;
  fill: #e4e4e4;
}
