.main__wrapper{

    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        min-height: 70vh;
        flex-direction: row;
    }
}

.aside{
    color: #e4e4e4;
    padding: 10px;
    background-color: rgba(70, 124, 27, 0.5);

    @media (min-width: 768px) {
        width: 25%;
    }
}

.subtitle {
    font-size: 14px;
}

.bank__subtitle {
    font-size: 12px;
}

.ratetable{
    font-size: 10px;
    font-weight: 700;
}

.ratetable__head{
    font-size: 10px;
    font-weight: 700;
}

.ratetable th,
.ratetable td {
    padding: 5px 10px;
    text-align: center;
}

.ratetable th:hover,
.ratetable td:hover {
    cursor:default;
    transform: scale(1.2);
    color: rgb(70, 124, 27);
    background-color: #e4e4e4;
}

.aside__span{
    font-weight: 600;
    font-size: 10px;
    font-style: italic;
}

.aside__span:hover{
    cursor:default;
    transform: scale(1.4);
    color: rgb(70, 124, 27);
    background-color: #e4e4e4;
}

.hero{
    padding: 15px;

    @media (min-width: 768px) {
        width: 75%;
    }
}

.hero__form{
    padding: 5px; 
    background-color: rgba(70, 124, 27, 0.5);

    @media (min-width: 768px) {
        padding: 20px;
    }
}

.form__input,
.form__select {
    padding: 0px 5px;
    outline: none;
    height: 35px;
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #808080;
    border-radius: 5px;
    background-color: rgba(235, 235, 235, 0.5);
    font-weight: 600;
}

.form__select:active,
.form__select:hover{
    cursor: pointer;
}

.form__span {
    font-weight: 600;
}