<aside class="aside">
    <h2 class="subtitle">
        Recent currency rate (Buy/Sale)
    </h2>
    <div class="bank__wrapper">
        <h3 class="bank__subtitle">PrivatBank *:</h3>
        <table class="ratetable">
            <thead class="ratetable__head">
                <th>
                    Currency
                </th>
                <th>
                    Sell
                </th>
                <th>
                    Buy
                </th>
            </thead>
            <tbody id="tableprivat" class="table__body">
    
            </tbody>
        </table>
        <p class="aside__span">
            * Check the final exchange rate with the financial institution where you will exchange the currency        
        </p>
    </div>
    
</aside>