<div class="hero">
    <form class="hero__form">
        <p class="form__span">
            Let`s count, you can sell
        </p>
        <input
            class="form__input"
            id="leftSideInput"
            type="number"
            min="0"
        />
        
        <select
            class="form__select"
            id="leftSideSelect"
        >
        </select>
    </form>

    <form class="hero__form">
        <p class="form__span">
            for
        </p>
        <input
            class="form__input"
            id="rightSideInput"
            type="number"
        />
        
        <select
            class="form__select"
            id="rightSideSelect"
        >
        </select>
        <p class="form__span">
            at the rate of the National Bank of Ukraine        
        </p>
    </form>
</div>