<div class="hero">
    <form class="hero__form">
        <p class="form__span">
            Let`s count, you can sell
        </p>

        <div class="input__wrapper">
            <input
                class="form__input"
                id="leftSideInput"
                type="number"
                min="0"
            />
            
            <select
                class="form__select"
                id="leftSideSelect"
            >
            </select>
        </div>
    </form>

    <form class="hero__form">
        <p class="form__span">
            for
        </p>
        <div class="input__wrapper">
            <input
            class="form__input"
            id="rightSideInput"
            type="number"
        />
        
        <select
            class="form__select"
            id="rightSideSelect"
        >
        </select>
        </div>
        <p class="form__span">
            at the rate of the National Bank of Ukraine        
        </p>
    </form>
</div>